<!DOCTYPE html>
<html>
<body>
   
     <div class="row">
 <div class="col-sm-8" style="background-color:lightgray;">
 

<%= form_with(model: @user, local: true) do |f| %>  
  <%= f.label :name %>
  <%= f.text_field :name, class:'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class:'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class:'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class:'form-control' %>
  <div class="image">
  <%= f.label :image %>
  <%= f.file_field :image, id: :robs_image %>
  <%= f.hidden_field :image_cache %>
</div>

  <%= f.submit "Edit my account", class:'btn btn-primary' %>
<% end %>

 
    </div> </div></div>
   
</body>
</html>    
    

